@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

.App {
  max-width: 500px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 20px;
}

.App h1 {
    padding: 8px;
    font-family: 'IM Fell English SC', serif;
}

.App p {
    width: fit-content;
}

.black-line {
    color: black;
    width: 100%;
    border: 1px solid rgba(46, 46, 46, 0.541);
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    max-width: 300px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 1060px) {
    .App {
        top: 60%;
    }
}

@media only screen and (max-width: 500px) {
    .App {
        top: 68%;
    }
}